{% extends 'base.html' %} {% block title %}О сайте{% endblock %} {% block mainbuttons %}
<li><a href='{% url 'main' %}' class="nav-link px-2 text-secondary">Главная</a></li>
<li><a href='{% url 'executors' %}' class="nav-link px-2 text-secondary">Подрядчики</a></li>
<li><a href='{% url 'analytics' %}' class="nav-link px-2 text-secondary">Аналитика</a></li> {% endblock %} {% block main %}
<div class="px-4 py-1 my-5 text-center">
    <h1 class="display-5 fw-bold">О сайте</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-1">Этот сайт - курсовой проект по дисциплине "Системный анализ и проектирование информационных систем" студента группы 072303 Янцевича Д. А. по теме "Программное средство для принятия решений по выбору подрядчиков на озеленение методом взвешенных экспертных оценок (на примере детского сада)". Исходный код доступен на <a href="https://github.com/only1avetrill/CP_SAiPIS_2022.072303" target="_blank">GitHub</a>.</p>
    </div>
</div>
</div>
<div class="px-4 py-1 my-5  text-center">
    <h1 class="display-5 fw-bold">Связь с нами</h1>
    <p class="lead mb-1"><a href="mailto:rocknoxinteractive@gmail.com" target="_blank">Почта</a> | <a href="https://vk.com/danyantsevich" target="_blank">VK</a> | <a href="https://www.instagram.com/rocknoxdev/" target="_blank">Instagram</a></p>
</div>
</div> {% endblock %}