{% extends 'base.html' %} {% block title %}Ошибка!{% endblock %} {% block mainbuttons %}
<li><a href='{% url 'main' %}' class="nav-link px-2 text-secondary">Главная</a></li>
<li><a href='{% url 'executors' %}' class="nav-link px-2 text-secondary">Подрядчики</a></li>
<li><a href='{% url 'analytics' %}' class="nav-link px-2 text-secondary">Аналитика</a></li> {% endblock %} {% block main %}
<div class="px-4 pt-5 my-1 text-center">
	<h1 class="display-5 fw-bold">Ошибка ввода формы</h1>
	<p class=" mb-3">
		<div class="p-2 p-md-5 border rounded-3 bg-warning">
			<p class=" mb-1">
				<h4>Одно или несколько полей введены
            неправильно!<br>Значения полей для ввода площади, бюджета и индекса должны быть больше нуля. Также проверьте
            правильность даты и повторите попытку!</h4>
				<h6>Нажмите кнопку "Назад" или используйте сочетание клавиш Alt + LeftArrow для возврата к форме.</h6> </div> {% endblock %}