{% extends 'BASE.html' %} {% block title %}Успех!{% endblock %} {% block mainbuttons %}
<li><a href='{% url 'main' %}' class="nav-link px-2 text-secondary">Главная</a></li>
<li><a href='{% url 'executors' %}' class="nav-link px-2 text-secondary">Подрядчики</a></li>
<li><a href='{% url 'analytics' %}' class="nav-link px-2 text-secondary">Аналитика</a></li> {% endblock %} {% block main %}
<div class="px-4 pt-5 my-1 text-center border-bottom">
	<h1 class="display-5 fw-bold">Запись добавлена</h1>
	<p class=" mb-3">
		<div class="p-2 p-md-5 border rounded-3 bg-warning">
			<p class=" mb-1">
				<h4>Запись успешно добавлена в базу данных!</h4>
				<h6><a href='{% url 'main' %}'>На главную</a> | <a href='{% url 'executors' %}'>К списку подрядчиков</a></h6> </div> {% endblock %}