{% extends 'BASE.html' %} {% block title %}Добавление подрядчика{% endblock %} {% block mainbuttons %}
<li><a href='{% url 'main' %}' class="nav-link px-2 text-secondary">Главная</a></li>
<li><a href='{% url 'executors' %}' class="nav-link px-2 text-secondary">Подрядчики</a></li>
<li><a href='{% url 'profile' %}' class="nav-link px-2 text-secondary">Профиль</a></li> {% endblock %} {% block main %}
<div class="px-4 pt-5 my-1 text-center border-bottom">
	<h1 class="display-5 fw-bold">Добавление подрядчика</h1>
	<div class="col-lg-12 mx-auto">
		<p class="lead mb-3">Если Вы представитель организации по озеленению, то Вы можете предложить свои услуги. Укажите актуальную информацию о своей организации, чтобы заказчик мог правильно рассчитать бюджет для выполнения работ!</p>
	</div>
	<div class="px-4 pt-2 my-1">
		<form method="POST"> {% csrf_token %}
			<div class="row">
				<div class="col-4"> {{ form.title }}
					<br> {{ form.worktime_start }}
					<br> {{ form.worktime_end }}
					<br> {{ form.weekends }}
					<br> </div>
				<div class="col-8"> {{ form.price }}
					<br> {{ form.additionalinfo }}
					<br> {{ form.contact }}
					<br> </div>
			</div>
			<button class="btn btn-success" type="submit">Добавить исполнителя</button>
		</form>
	</div> {% endblock %}