{% extends 'BASE.html' %} {% block title %}Главная{% endblock %} {% block mainbuttons %}
<li><a href='{% url 'main' %}' class="nav-link px-2 text-white">Главная</a></li>
<li><a href='{% url 'executors' %}' class="nav-link px-2 text-secondary">Подрядчики</a></li>
<li><a href='{% url 'analytics' %}' class="nav-link px-2 text-secondary">Аналитика</a></li> {% endblock %} {% block main %}
<div class="px-4 pt-5 my-1 text-center border-bottom">
	<h1 class="display-5 fw-bold">Объявления</h1>
	<div class="col-lg-12 mx-auto">
		<p class="lead mb-4">Если Вы представитель детского сада (заказчик), то Вы можете <a href="{% url 'addad' %}">подать объявление о поиске подрядчика</a>, а также <a href="{% url 'executors' %}">выбрать его по необходимым критериям</a> из списка. Если Вы представитель организации по озеленению (подрядчик), то Вы можете найти подходящий заказ, а также <a href="{% url 'executors' %}">изучить
                    предложения конкурентов</a>.</p>
	</div>
	<div class="overflow-hidden" style="max-height: 30vh;">
		<div class="container px-5"><img src="https://user-images.githubusercontent.com/75385700/164297220-fb66f069-64c4-436c-b553-bd96f8e75317.png" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy"></div>
	</div>
</div>
<div class="px-4 pt-5 my-1"><a class="btn btn-dark btn-lg px-2 btn-sm" href="{% url 'sortAds' 'area' %}">По площади
        работы ↑</a> <a class="btn btn-dark btn-lg px-2 btn-sm" href="{% url 'sortAds' 'deadline' %}">По сроку сдачи
        ↑</a> <a class="btn btn-dark btn-lg px-2 btn-sm" href="{% url 'sortAds' 'budget' %}">По бюджету ↑</a> <a class="btn btn-dark btn-lg px-2 btn-sm" href="{% url 'main' %}">Стандартный порядок</a></div>
<div class="px-4 my-1"><a class="btn btn-dark btn-lg px-2 btn-sm" href="{% url 'sortAds' '-area' %}">По площади
        работы
        ↓</a> <a class="btn btn-dark btn-lg px-2 btn-sm" href="{% url 'sortAds' '-deadline' %}">По сроку сдачи ↓</a> <a class="btn btn-dark btn-lg px-2 btn-sm" href="{% url 'sortAds' '-budget' %}">По бюджету ↓</a></div>
<div class="px-4 pt-2 my-1"> {% if ads %} {% for el in ads %}
	<div class="alert alert-secondary">
		<h3><b>Детский сад «{{ el.title }}»</b></h3>
		<h6><b>Площадь заказа:</b> {{ el.area }} кв. м.</h6>
		<h6><b>Адрес заказа:</b> {{ el.address_index }}, {{ el.address_region }}
                обл., {{ el.address_city }}, {{ el.address_street }}, {{ el.address_office }}</h6>
		<h6><b>Бюджет:</b> {{ el.budget }} руб.</h6>
		<h6><b>Срок сдачи:</b> {{ el.deadline }}</h6>
		<h6><b>Контактная информация:</b> {{ el.contact }}</h6>
    {% if user.id == el.author.id or user.is_superuser %}
        <div align="right">
        {% if user.is_superuser %}<br><h6><b>Автор:</b> {{ el.author }}</h6>{% endif %}
    <a href="/editad/{{ el.id }}" type="button" class="btn btn-lg btn-outline-dark btn-sm" style="font-size: 15px">Редактировать</a>
<a href="/deletead/{{ el.id }}" type="button" class="btn btn-lg btn-outline-danger btn-sm" style="font-size: 15px">Удалить</a>
</div>
        </div>
    {% else %} </div>
    {% endif %}



{% endfor %} {% else %}
	    <div class="alert alert-danger text-center">
		<h3><b>Объявлений нет!</b></h3>
		<h10>Добавьте новое либо повторите попытку позже.</h10>
	</div> {% endif %} </div> {% endblock %}